
/* ---------------------------------------------1. General */

/*-------  class selector: */

.center {
    text-align: center;
    color: red;
}

/*--------- ID selector: */

#para1 {
    text-align: center;
    color: red;
}
